
header #nav {
    padding-right: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: nowrap;
}

header #nav a {
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    list-style: none;
    text-decoration: none;
}
